<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
  <div class="container"><br><br>
  <h2>Admin Dashboard</h2>
    <br>
    <h5> Welcome {{current_user.name}}!!</h5>
    <br>
  <p class="d-inline-flex gap-1">
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#Posts" role="button" aria-expanded="false" aria-controls="collapseExample">
    Post
  </a>
    <a style="{{style}}" class="btn btn-primary" data-bs-toggle="collapse" href="#Contact" role="button" aria-expanded="false" aria-controls="collapseExample">
  Contact
  </a>
    <a class="btn btn-primary"  href="/editPost/0" role="button">
  Add new Post
  </a>
    <a href="/logout" class="btn btn-danger">Logout</a>
</p>

  <div class="collapse" id="Posts">
  <div class="card card-body">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">post_id</th>
      <th scope="col">Title</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for post in posts %}
    <tr>
      <th scope="row">{{post.post_id}}</th>
      <td>{{post.title}}</td>
      <td><a href="/editPost/{{post.post_id}}"><button  type="button" class="btn btn-info">Edit</button></a>
        <a href="/delete/{{post.post_id}}"><button  type="button" class="btn btn-danger">Delete</button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  </div>
</div>
  <div class="collapse" id="Contact">
  <div class="card card-body">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">SNo</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for cont in contacts %}
    <tr>
      <th scope="row">{{cont.sno}}</th>
      <td>{{cont.name}}</td>
      <td>{{cont.email}}</td>
      <td><a href=""><button  type="button" class="btn btn-info">Edit</button></a>
      <a href=""><button  type="button" class="btn btn-danger">Delete</button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  </div>
</div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>